.AddStock {
	margin: 2px;
  padding: 2px;
  border: 1px solid #001A47;
  background: #CEEAF3;
  text-align: center;
  width: 44%;
  float: left;
}

.AddStock input{width: 70px;}

.AddStock button {color: #fff;
    background-color: #001A47;
    border-color: #17a2b8;}