.QuickStockList {
	width: 370px;
  border: 2px solid #100B26;
  background: #212529;

  font-size: 13px;
}

.topSplitter{
	overflow: hidden;
}
table tr td .close, button.close {
    color: #aaa !important; 
    opacity: 1;
}
